################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
*.db
*.db-shm
*.db-wal

##secrets
appsettings.Development.json